<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="maindiv" ng-controller="carCtrl">
      <div class="typebar">
       <div>
          <button ng-click="sedan()" ng-class="{ 'active': lastClickedButton == 'sedan()' }" class="button-24">sedan</button>
        <button ng-click="suv()" ng-class="{ 'active': lastClickedButton == 'suv()' }" class="button-24">suv</button>
        <button ng-click="sports()" ng-class="{ 'active': lastClickedButton == 'sports()' }" class="button-24">sports</button>
        <a href="" ng-click="reset()"><ion-icon name="close-circle-outline"></ion-icon></a>

        </div>
        <div>
        
        <input type="search" ng-model="searchText" id="filter-text" class="searchbar" placeholder="search"/>

        </div>
        
        
        
      </div>
      <div class="cardiv">
        
        <div class="card" ng-repeat="car in cars | searchFilter:searchText">
          <a href="#!description/{{car.id}}">
            
            <div class="card-info">
              <img ng-src="{{car.image}}" alt="{{car.make}} {{car.model}}" class="car-image"/>
              <h3>{{car.make}} {{car.model}}</h3>
              <p>Type: {{car.type}}</p>
              <p>Year: {{car.year}}</p>
              <p>Color: {{car.color}}</p>
              <p>Price: {{car.price | currency}}</p>
            </div>
          
          </a>
         
        </div>
      </div>
    </div>
    <script src="/js/index.js"></script>
  </body>
</html>
