<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container" ng-controller="editCtrl">
      <div class="wrap">
        <h1>Edit Product</h1>
        <form class="form" name="addform">
          <div action="" id="form">
            <div class="col">
              <label for="make">Make</label>
              <input
                id="make"
                class="fname"
                name="make"
                placeholder="{{car.make}}"
                ng-model="make"
                required
                ng-class="{'invalid':addform.make.$touched && addform.make.$invalid}"
              />
            </div>
            <div class="col">
              <label for="model">Model </label>
              <input
                id="model"
                class="lname"
                ng-model="model"
                placeholder="{{car.model}}"
                ng-class="{'invalid':addform.model.$touched && addform.make.$invalid}"
                name="model"
                required
              />
            </div>
            <div class="col">
              <label for="year">Year</label>
              <input
                id="year"
                class="phone"
                name="year"
                ng-model="year"
                placeholder="{{car.year}}"
                ng-class="{'invalid':addform.year.$touched && addform.make.$invalid}"
                required
              />
            </div>
            <div class="col">
              <label for="color">color </label>
              <input
                id="color"
                class="email"
                name="color"
                ng-model="color"
                placeholder="{{car.color}}"
                ng-class="{'invalid':addform.color.$touched && addform.color.$invalid}"
                required
              />
            </div>
            <div class="col">
              <label for="type">Type</label>
              <select
                  name="type"
                  ng-model="type"
                  ng-class="{'invalid':addform.type.$touched && addform.type.$invalid}"
                >
                  <option value="" disabled="disabled">Select car type...</option>
                  <option value="{{category.type}}" ng-repeat="category in categories.category">
                    {{category.type}}
                  </option>
                </select>
            </div>
            <div class="col">
              <label for="price">Price </label>
              <input
                name="price"
                type="text"
                id="price"
                class="password"
                ng-model="price"
                placeholder="{{car.price}}"
                ng-class="{'invalid':addform.price.$touched && addform.price.$invalid}"
                required
              />
            </div>
            <div class="col">
              <label for="image">Image(link) </label>
              <input
                name="image"
                type="text"
                id="image"
                class="password"
                ng-model="image"
                placeholder="{{car.image}}"
                ng-class="{'invalid':addform.image.$touched && addform.image.$invalid}"
                required
              />
            </div>
            <br />
            <div class="col">
              <span
                class="error"
                ng-show="addform.make.$invalid || addform.model.$invalid ||addform.type.$invalid || addform.price.$invalid|| addform.color.$invalid|| addform.image.$invalid"
                >Please fill the input feilds</span
              >
              <button
              class="add-btn"
              
                ng-click="submit()"
                
                ng-disabled="addform.make.$invalid || addform.model.$invalid ||addform.year.$invalid || addform.price.$invalid || addform.type.$invalid || addform.image.$invalid"
              >
                <span class="bn39span"> submit </span>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
